:root {
  --white: hsl(60, 3%, 93%);
  --white-dark: hsl(0, 0%, 75%);
  --jet: hsl(120, 1%, 17%);
  --black: hsl(0, 0%, 11%);
  --bg: hsl(160, 2%, 26%);
  --overlay: hsla(0, 0%, 0%, 0.7);
  --dark: hsl(208, 37%, 20%);
  --secondary: hsl(0, 100%, 69%);
  --dark-secondary: hsl(8, 49%, 51%);
  --accent: hsl(46, 65%, 52%);
  --accent-dark: hsl(46, 59%, 40%);
  --shadow: hsla(0, 0%, 0%, 0.13);
  --slategrey: hsl(0, 0%, 17%);
  --warmgrey: hsl(0, 0%, 24%);
  --grey-bg: hsl(276, 12%, 92%);
  --grey-hover: hsl(274, 12%, 89%);
  --lightgrey: hsl(60, 3%, 93%);
  --timeline: hsl(0, 0%, 86%);
  --success: hsl(120, 100%, 25%);
  --warning: hsl(40, 100%, 45%);
  --danger: hsl(0, 78%, 44%);
  --danger-bg: hsl(358, 100%, 93%);
  --danger-hover: hsl(359, 100%, 90%);
  --info: hsl(200, 100%, 45%);

  --w1: 25%;
  --w2: 50%;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0; /* Remove default margin */
}

html {
  overflow-y: scroll;
}

/* reset */
button,
p,
fieldset,
input {
  all: unset;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

main {
  padding: 0 1.8rem;
  margin-bottom: 1rem;
}

a {
  transition: all ease 0.2s;
  text-decoration: none;
  color: var(--accent);
}

a:hover {
  color: var(--accent-dark);
}

footer {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  bottom: 0;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.is-large {
  font-size: 3rem;
  padding: 1rem;
  height: 100vh;
}

.separator__root {
  background-color: var(--accent);
  height: 1px;
  width: 50%;
  margin: auto;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    position: relative;
  }
}
