.tags__container {
  max-width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag {
  display: inline-block;
  font-size: 10px;
  padding: 0.3rem 0.3rem;
  margin: 0.2rem;
  background-color: var(--secondary);
  color: var(--white);
  text-decoration: none;
  position: relative;
  cursor: pointer;
  border-radius: 0.25rem;
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: all 150ms linear;
}

.tag:hover {
  background-color: var(--dark-secondary);
}

.tag:active {
  background-color: var(--dark);
}

.tag__badge {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 2px 8px;
  font-size: 14px;
  font-weight: 500;
}

.pill {
  background-color: var(--secondary);
  color: var(--white);
  border-radius: 50rem;
}

.pill:first-child {
  margin-left: 0.5rem;
}

.pill:last-child {
  margin-right: 0.5rem;
}
